# Bytes
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Distribution
dist/
build/
*.egg-info/

# User Data
*.xlsx
idlist.txt
idprocessed.txt
idprocessed*.txt
data/

# Environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
